
/* Navigation bar design from W3 schools */
.navbar {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    background-color:#ffbd59;
    padding: 0;
    overflow: hidden;
    margin:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
     font-size: 30px;
}

.navbar a{
    color: beige;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px; ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: black;
}

.navbar a:hover{
    background-color:#ebca99;
    color: black;
}


/* Styling for the H1's */
h1{text-align: center;
text-decoration: underline;
color: beige;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1a1054;
    margin: 0;
    padding: 0;
}
/* text settings for all text on the website */
.intro-text{
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.5;
}

/* content style for the home page */
.home-content{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}