
/* Navigation bar design from W3 schools */
.navbar {
    width: 800px;
    margin: 0 auto;
}
.navbar ul {
    list-style-type: none;
    background-color:#ffbd59;
    padding: 0;
    overflow: hidden;
    margin:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
     font-size: 30px;
}

.navbar a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px; ;
}

.navbar a:hover{
    background-color:grey ;
}

body{
    margin: 0;
    padding: 0;
}