
/* Navigation bar design from W3 schools */
.navbar {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

/*nav bar design courtesy of Bro Code on YouTube */
.navbar ul  {
    list-style-type: none;
    background-color:#ffbd59;
    padding: 0;
    overflow: hidden;
    margin:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
     font-size: 30px;
}

.navbar a{
    color: beige;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px; ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: black;
}

.navbar a:hover{
    background-color:#ebca99;
    color: black;
}


/* Styling for the H1's */
h1{text-align: center;
text-decoration: underline;
color: beige;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*style for the website body */
body{
    background-color: #1a1054;
    margin: 0;
    padding: 0;
}
/* text settings for all text on the website */
.intro-text{
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-weight: bold;

}

/* content style for the home page */
.home-content{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    flex: 1;
}
/* featured video styling */
.home-video{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}

/* Styling of the footer courtesy of W3 schools */
.footer{
    position: fixed;
    bottom: 0;
    width: 1000px;
    background-color:#ebca99;
    color: black;
    text-align: center;
}

.podcast-content{
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    flex: 1;
    text-align: left;
    margin-bottom: 120px;
}

.contact-content{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    flex: 1;
}

.episode-1-text{
     color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 5%;
    margin-left: 430px;
    
}

.podcast-ep-1{
    float: left;
}

.episode-2-text{
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 10%;
    margin-left: 430px;
    
}
.podcast-ep-2{
    float: left;
    clear: both;
    padding-top: 5%;
}

.podcast-ep-3{
    float: left;
    clear: both;
    padding-top: 5%;
 
}

.episode-3-text{
       color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 12%;
    margin-left: 430px;
}